

.conten{
margin-left: 300px;
margin-right: 300px;
}
.item {
    display: flex;
    flex-direction: row;
    padding: 6px;
    border: 2px solid black;
    border-radius: 50px;
}

.content {
    display: 1 1 0%;
    width: 90%;
}

.item .content .text {
    font-size: 1.125rem;
    width: 100%;
    border-color: transparent;
}

.item .content .text:hover {
    cursor: context-menu;
}

.item .actions {
    display: flex;
}

.item .actions button {
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 2px 6px;
}